@use '../generic' as *;
/* ------------------------------------------------------------ *\
	Icons
\* ------------------------------------------------------------ */

[class*="ico-"] {
	display: inline-block;
	vertical-align: middle;
}

.ico-pin,
.ico-mail {
	width: 2.5rem;
	height: 2.5rem;

	@include breakpoint-down(mobile) {
		width: 1.5rem;
		height: 1.5rem;
	}
}