@use '../generic' as *;
/* ------------------------------------------------------------ *\
	List Logos
\* ------------------------------------------------------------ */

.list-logos {
	padding: 0 3rem 0 3.1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include breakpoint-down(tablet) {
		padding: 0;
	}

	@include breakpoint-down(mobile) {
		margin: 0 -2.2rem;
	}

	li {
		list-style-type: none; 

		@include breakpoint-down(tablet) {
			padding: 0 3rem;
		}

		@include breakpoint-down(mobile) {
			padding: 0 1.6rem;
		}
	}

	a {
		margin: 0 auto;
		display: block; 
		max-height: 14.5rem; 
		max-width: 12.7rem;
		filter: grayscale(1);
		opacity: .5;
		transition: filter $t-duration, opacity $t-duration;

		&:hover {
			filter: grayscale(0);
			opacity: 1;
		}

		@include breakpoint-down(small-desktop) {
			max-width: 10rem;
		}
	}

	img {
		max-height: 100%;
		object-fit: contain;
	}
}
