@use '../generic' as *;
/* ------------------------------------------------------------ *\
	SLider Testimonials
\* ------------------------------------------------------------ */

.customerstestimonial {
	max-width: 106rem;
	margin: 0 auto;
	position: relative; 

	.testimonial {
		margin: 0 auto;
		max-width: 66.7rem;

		@include breakpoint-down(tablet) {
			max-width: 62rem;
		}

		@include breakpoint-down(mobile-medium) {
			max-width: 24rem;
		}
	}

	.slick-arrow {
		width: 2.7rem; 
		height: 2.7rem;
		border: none;
		background: none;
		transition: opacity $t-duration;

		position: absolute; 
		top: 65%; 
		@include breakpoint-down(mobile) {
			display: none; 
		}
	}

	.slick-arrow:hover {
		@media(hover: hover) {
			opacity: .5;
		}
	}

	.slick-arrow img {
		width: 100%; 
		height: 100%; 
		object-fit: contain;
	}
}
